.hero-wrapper {
    background: url('Background-Image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    color: white;
}

.navbar {
    background-color: transparent;
}

.dot {
    font-weight: bolder;
    color: #f38609;
}

.side-content i {
    color: #f38609;
}

.side-content .btn,
.side-left-content .btn,.custom-card a {
    background-color: #f38609;
    color: white;
}

.circle {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #f38609;
}


/* card size */
.custom-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* img size */
.custom-card-img {
    height: 200px;
    object-fit: contain;
}

.bg-warning-subtle {
    background-color: #fff4e0;
    color: #f38609;
}

/* Active pill color */
.nav-pills .nav-link.active {
    background-color: #f38609;
    color: white;
}

/* Button/Pill Hover effect */
.nav-pills .nav-link:hover,.bg-change {
    background-color: #f38609;
    color: white;
}

.contact {
    background-color: #fff4e6;
    color: #212529;
}

/* Circular Numbers */
.num-circle {
    width: 30px;
    height: 30px;
    background-color: #fff4e6;
    color: #e68a2e;
}

.footer-a{
    width: 38px; 
    height: 38px;
}